* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
header {
    background: oklch(25.172% 0.09781 266.243);
    position: fixed;
    width: 100%;
    z-index: 10;
    scroll-padding-top: 11.5rem;
    scroll-behavior: smooth;
}

.header-container{
    max-width: 120rem;
    margin-inline: auto;
    text-align: center;
    padding-block: 2rem;
    color: #fff;

    h1{
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 6rem;
        justify-content: center;
    }


a{
    color: #fff;
    text-decoration: none;
}

li:hover {
   transform:  scale(1.1);
   font-weight: 700;
   transition: .4;
}
}

main {
    background: oklch(91.119% 0.0431 259.222);
    min-height: calc(100svh - 10.8rem);
}

.main-container {
    padding-block: 14.8rem 4rem;
    max-width: 128rem;
    margin: 0 auto;
    text-align: center;



h2{
    margin-bottom: 2rem;

}

p{
    max-width: 60rem;
    margin-inline: auto;
    line-height: 2.5rem;
}

section {
    margin-bottom: 4rem;


div{
    width: 6rem;
    height: 6rem;
    background: oklch(74.6% 0.16 232.661);
    margin-inline: auto;
    margin-bottom: 1.5rem;
}


.blue {
    background: oklch(48.8% 0.243 264.376);
}
}

 mark{
    background: oklch(64.035% 0.24521 27.797);
 }
}

#relative{
    .blue{
        position: relative;
        bottom: 3rem;
        left: 3rem;

    }
}

#absolute {
    .blue{
        position: absolute;
        
        bottom: 2rem;
        left: 2rem;
    }
}

.arrow {
    background: oklch(45.9% 0.187 3.815);
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    position: fixed;
    bottom: 4rem ;
    right: 4rem;

}

